body {
  background-color: #f99b7d;
}

h1 {
  text-align: center;
  color: #b04759;
}

footer a {
  color: #b04759;
  text-align: center;
  text-decoration: underline;
  margin: 0 10px;
}

p {
  text-align: center;
}

footer a {
  text-align: center;
}

.crossiant-picture {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
